<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <input type="text" [(ngModel)]="filterStatus">
            <br><br>
            <h2>App Status:{{appStatus | async}}</h2>
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
            <hr>
            <ul class="list-group">
                <li class="list-group-item"
                *ngFor="let server of servers | filter:filterStatus:'status'"
                [ngClass]="getStatusClass(server)">
                    <span class="badge">{{server.status}}</span>
                    <!-- <strong>{{server.name}}</strong>| {{server.instanceType | uppercase}} | {{server.started | date:'MMM EE-hh-yy'}}</li> -->
                    <strong>{{server.name |shorten:10}}</strong>| 
                    {{server.instanceType | uppercase}} | 
                    {{server.started | date:'medium'|lowercase}}</li>
            </ul>
        </div>
    </div>
</div>

<p>Slice</p>
<p><strong>{{username |slice:0:6}}</strong></p>

<!-- <p>bootstrap 4 version style</p>
<div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let server of servers"
            [ngClass]="getStatusClass(server)">
            
            <strong>{{ server.name }}</strong> | {{ server.instanceType }} | {{ server.started }}
            <span
              class="badge badge-pill badge-secondary">
              {{ server.status }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div> -->
